.p-0 {
  padding: ms(0);
}
.p-1 {
  padding: ms(1);
}
.p-2 {
  padding: ms(2);
}
.p-3 {
  padding: ms(3);
}
.p-4 {
  padding: ms(4);
}
.p-5 {
  padding: ms(5);
}

.pt-0 {
  padding-top: ms(0);
}
.pt-1 {
  padding-top: ms(1);
}
.pt-2 {
  padding-top: ms(2);
}
.pt-3 {
  padding-top: ms(3);
}
.pt-4 {
  padding-top: ms(4);
}
.pt-5 {
  padding-top: ms(5);
}

.pb-0 {
  padding-bottom: ms(0);
}
.pb-1 {
  padding-bottom: ms(1);
}
.pb-2 {
  padding-bottom: ms(2);
}
.pb-3 {
  padding-bottom: ms(3);
}
.pb-4 {
  padding-bottom: ms(4);
}
.pb-5 {
  padding-bottom: ms(5);
}

.pr-0 {
  padding-right: ms(0);
}
.pr-1 {
  padding-right: ms(1);
}
.pr-2 {
  padding-right: ms(2);
}
.pr-3 {
  padding-right: ms(3);
}
.pr-4 {
  padding-right: ms(4);
}
.pr-5 {
  padding-right: ms(5);
}

.pl-0 {
  padding-left: ms(0);
}
.pl-1 {
  padding-left: ms(1);
}
.pl-2 {
  padding-left: ms(2);
}
.pl-3 {
  padding-left: ms(3);
}
.pl-4 {
  padding-left: ms(4);
}
.pl-5 {
  padding-left: ms(5);
}

.px-0 {
  padding: 0 ms(0);
}
.px-1 {
  padding: 0 ms(1);
}
.px-2 {
  padding: 0 ms(2);
}
.px-3 {
  padding: 0 ms(3);
}
.px-4 {
  padding: 0 ms(4);
}
.px-5 {
  padding: 0 ms(5);
}

.py-0 {
  padding: ms(0) 0;
}
.py-1 {
  padding: ms(1) 0;
}
.py-2 {
  padding: ms(2) 0;
}
.py-3 {
  padding: ms(3) 0;
}
.py-4 {
  padding: ms(4) 0;
}
.py-5 {
  padding: ms(5) 0;
}
