.lodgings {
  @include screen('desktop') {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  @include screen('tablet') {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .card {
      max-width: 100%;
    }
  }
}
