.card {
  position: relative;
  height: ms(7);
  border-radius: ms(0);
  background-size: cover;
  display: flex;
  @extend .m-1;
  @extend .pl-0;
  &::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: background-color 300ms ease-in;
    background-color: rgba($black, 0.3);
    z-index: 99;
    border-radius: ms(0);
  }

  @include on-event() {
    &::after {
      background-color: rgba($black, 0.1);
    }
    cursor: pointer;
  }
  @include screen('tablet') {
    max-width: 50%;
    flex-basis: 50%;
  }
  @include screen('desktop') {
    max-width: calc(100vw / 3);
    flex-basis: calc(100vw / 3);
    height: ms(8);
    margin: ms(3);
  }
  @include screen('hrq') {
    height: ms(9);
    margin: ms(3) ms(5);
  }
}

.card-title {
  @extend .px-0;
  position: relative;
  z-index: 100;
  font-size: ms(1);
  align-self: end;
  color: white;
}
