.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @extend .m-1;
  @include screen('desktop') {
    margin: ms(3);
  }
  @include screen('hrq') {
    margin: ms(3) ms(5);
  }
}

.navbar-brand {
  width: ms(5);
  @include screen('hrq') {
    width: ms(7);
  }
}

.navbar-link {
  color: $primary-color;
  text-decoration: none;
  @include on-event() {
    text-decoration: underline;
  }
}

.navbar-link--active {
  text-decoration: underline;
}
