.icon-rating {
  color: #e3e3e3;
  font-size: ms(2);
  &.active {
    color: $primary-color;
  }

  @include screen('desktop') {
    font-size: ms(3);
  }

  @include on-event() {
    color: $primary-color;
    cursor: pointer;
    &.active {
      color: rgba($primary-color, 0.5);
    }
  }
}
